body {background-color: black;}
h1 {color: #ffff;text-align: center;font-size: 100px;}
h2 {color: #ffff;font-size: 30px;text-align: center;}
p {color: #ffff;font-size: 30px;text-align: center;display: inline-block;padding-left: 20%;}
.a16 {width: 800px;height: 620px; padding-left: 55%;position: absolute;}